@import "tailwindcss";

:root {
  --color-gradient: linear-gradient(90deg, #f5bd4d 0.36%, #f89222 99.88%);
  --color-gradient-two: linear-gradient(
    90deg,
    rgba(245, 189, 77, 0.3) 0.36%,
    rgba(248, 146, 34, 0.3) 99.88%
  );
}
@theme {
  --color-bg-one: #171b1a;
  --color-bg-two: #121414;
  --color-bg-three: #353535;
  --color-text-one: #c2c2c2;
  --color-text-two: #a5a5a5;
  --color-text-three: #8f8f8f;
}
body {
  @apply bg-bg-one text-white;
}

@utility container {
  max-width: 1320px;
  margin: 0 auto;
}

@utility gradient-bg {
  background: var(--color-gradient);
}

@utility gradient-text {
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility gradient-bg-two {
  background: var(--color-gradient);
  border-radius: 50px;
}
