@import "tailwindcss";

:root {
  --color-gradient: linear-gradient(90deg, #f5bd4d 0.36%, #f89222 99.88%);
  --color-gradient-two: linear-gradient(
    90deg,
    rgba(245, 189, 77, 0.3) 0.36%,
    rgba(248, 146, 34, 0.3) 99.88%
  );
}
@theme {
  --color-bg-one: #171b1a;
  --color-bg-two: #121414;
  --color-bg-three: #353535;
  --color-text-one: #c2c2c2;
  --color-text-two: #a5a5a5;
  --color-text-three: #8f8f8f;
  --color-text-four: #979797;
  --shadow-one: 0px 0px 25px 10px rgba(255, 255, 255, 0.06);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-bg-one text-white;
}

@utility container {
  max-width: 1320px;
  margin: 0 auto;
}

@utility gradient-bg {
  background: var(--color-gradient);
}

@utility gradient-text {
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility gradient-hover {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility gradient-bg-two {
  background: var(--color-gradient-two);
}

.gradient-input-wrapper {
  position: relative;
  width: 100%;
}

.gradient-input,
.gradient-textarea {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.75rem;
  background-color: black;
  border: transparent;
  position: relative;
  z-index: 1;
  color: white;
  box-sizing: border-box;
}

.gradient-input:focus,
.gradient-textarea:focus {
  outline: none;
}

.gradient-border {
  position: relative;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  right: -1.5px;
  bottom: -1.5px;
  border-radius: 12px;
  z-index: 0;
  background: var(--color-gradient-two);
  transition: background 0.3s ease;
}

.gradient-border:focus-within::before {
  background: var(--color-gradient);
}

.rayan {
  padding-left: 0px;
}
@media (min-width: 768px) {
  .rayan {
    padding-left: 410px;
  }
}
@media (min-width: 1024px) {
  .rayan {
    padding-left: 292px;
  }
}
@media (min-width: 1320px) {
  .rayan {
    padding-left: 220px;
  }
}
